.label-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.input-label {
  font-size: 0.875rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 16px;
}

.input-label-helper {
  color: var(--mui-palette-grey-400);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
}

.input-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  flex: 1;
}
