p.truncatedContainer {
  -webkit-box-orient: vertical;
  hyphens: auto;
  overflow: hidden;
}

p.truncatedContainer::before {
  content: "";
  float: right;
}

p.truncatedContainer .show-more {
  clear: both;
  float: right;
  font-weight: bold;
  color: var(--mui-palette-common-black);
  cursor: pointer;
  font-size: 1em;
  line-height: 1.4;
}

p.truncatedContainer:not(.touched):not(.truncated) .show-more {
  display: none;
}

p.truncatedContainer .show-more:hover {
  text-decoration: none;
}
