table tbody tr.highlighted {
  box-shadow: inset 4px 0px 0px 0px var(--mui-palette-primary-main);
  background-color: var(--mui-palette-primary-50);
}

table tbody tr.highlighted:hover {
  background-color: var(--mui-palette-primary-100);
}
