.rgo-table {
  border-collapse: separate;
}

.rgo-table tbody tr.highlighted {
  box-shadow: inset 4px 0px 0px 0px var(--mui-palette-primary-main) !important;
  background-color: var(--mui-palette-primary-100) !important;
}

.rgo-table tbody tr.highlighted:hover {
  background-color: var(--mui-palette-primary-200) !important;
}

.rgo-table-paper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  outline: 1px solid var(--mui-palette-grey-300);
  border-top-left-radius: unset !important;
  border-top-right-radius: unset !important;
}

.rgo-table-paper[data-sticky="true"] {
  overflow: hidden;
}

.rgo-table > thead > tr > th {
  background-color: var(--mui-palette-background-paper);
}
